<form class="box" [formGroup]="demoForm">
  <div class="field">
    <label for="navn" class="label">
      Navn
    </label>
    <div class="control has-icons-left">
      <input
        type="text"
        name="navn"
        [ngClass]="{
          'input': true,
          'is-danger': navn.invalid,
          'is-success': !navn.invalid
        }"
        formControlName="navn"
      />
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label for="tlf" class="label">
      Telefonnummer
    </label>
    <div class="control has-icons-left">
      <input
        type="tel"
        name="tlf"
        [ngClass]="{
          'input': true,
          'is-danger': tlf.invalid,
          'is-success': !tlf.invalid
        }"
        formControlName="tlf"
      />
      <span class="icon is-small is-left">
        <i class="fa fa-phone"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input
          type="checkbox"
          name="jegErEnig"
          formControlName="jegErEnig"
        />
        &nbsp;Jeg lyver ikke
      </label>
    </div>
  </div>

  <div class="field">
    <button
      class="button is-primary"
      type="submit"
      [disabled]="!demoForm.valid"
    >
      OK
    </button>
  </div>
</form>
